html 
    head    
        title Dashboard - Travel Blog
        link(rel="stylesheet" href="/css/styles.css")
    body
      header.dashboard-header
          h2 
            a(href="/dashboard") DASHBOARD - TRAVEL BLOG
          div.menu-items
                ul 
                  li
                    a(href="#") Logged in as #{userDetails[1]}&nbsp;&nbsp;&nbsp;&nbsp;| 
                  li
                    a(href="/logout") Logout 
      block content