html 
    head    
        title Dashboard - Travel Blog
        link(rel="stylesheet" href="/css/dashboard-styles.css")
    body
      header
        a(href="/")
          h2 DASHBOARD - TRAVEL BLOG
        div.menu-items
          ul 
            li
              a(href="#") Logged in as (username here)
            li
              a(href="/logout") Logout 
      block content