footer
  div.footer-div-1
    h2 TRAVEL BLOG
    div.footer-div-1-inner-div
      a(href='/about') About
      a(href='/contact') Contact
      a(href='/login') Staff Login
  hr
  div.social-icons-div
    p.social-icons F
    p.social-icons IG
    p.social-icons YT
    p.social-icons LI
  p © 2024 - TRAVEL BLOG
