html 
    head    
        title Travel Blog
        link(rel="stylesheet" href="/css/home-styles.css")
        link(rel="stylesheet" href="/css/categories-styles.css")
        link(rel="stylesheet" href="/css/contact-styles.css")
        link(rel="stylesheet" href="/css/destinations-styles.css")
        link(rel="stylesheet" href="/css/single-post-styles.css")
        link(rel="stylesheet" href="/css/about-styles.css")
    body
      header
        a(href="/")
          h2 TRAVEL BLOG
        div.menu-items
          ul 
            li 
              a(href="/") Home  
            li 
              a(href="/all-posts") All Posts 
            li 
              a(href="/destinations") Destinations
                ul.dropdown
                  li
                    a(href="#") Africa
                      ul.dropdown
                        li
                           a(href="#") Egypt
                  li
                    a(href="#") Asia
                      ul.dropdown
                        li
                          a(href="#") Bhutan
                        li
                          a(href="#") Indonesia
                        li
                          a(href="#") Maldives
                  li
                    a(href="#") Europe
                      ul.dropdown
                        li
                          a(href="#") United Kingdom
                        li
                          a(href="#") Greece
                  li
                    a(href="#") North America
                      ul.dropdown
                        li
                          a(href="#") Hawaii
                  li
                    a(href="#") Oceania
                      ul.dropdown
                        li
                          a(href="#") New Zealand
                  li
                    a(href="#") South America
                      ul.dropdown
                        li
                          a(href="#") Aruba
            li 
              a(href="/categories") Categories
                ul.dropdown
                  li
                    a(href="#") Adventure
                  li
                    a(href="#") City Breaks
                  li
                    a(href="#") Hike
                  li
                    a(href="#") Island Escape
            li
              a(href="/about") About 
            li
              a(href="/contact") Contact 
      block content