html 
    head    
        title Travel Blog
        link(rel="stylesheet" href="./css/home-styles.css")
        link(rel="stylesheet" href="./css/categories-styles.css")
        link(rel="stylesheet" href="./css/contact-styles.css")
        link(rel="stylesheet" href="./css/destinations-styles.css")
        link(rel="stylesheet" href="./css/single-post-styles.css")
        link(rel="stylesheet" href="./css/about-styles.css")
    body
      header
        a(href="/")
          h2 TRAVEL BLOG
        div.menu-items
          ul 
            li 
              a(href="/") Home 
            li 
              a(href="/destinations") Destinations
                ul.dropdown
                  li
                    a(href="#") One
                  li
                    a(href="#") Two
                  li
                    a(href="#") Three
                  li
                    a(href="#") Four
            li 
              a(href="/categories") Categories
                ul.dropdown
                  li
                    a(href="#") One
                  li
                    a(href="#") Two
                  li
                    a(href="#") Three
                  li
                    a(href="#") Four
            li
              a(href="/about") About 
            li
              a(href="/contact") Contact 
      block content