html 
    head    
        title Travel Blog
        link(rel="stylesheet" href="/css/home-styles.css")
        link(rel="stylesheet" href="/css/categories-styles.css")
        link(rel="stylesheet" href="/css/contact-styles.css")
        link(rel="stylesheet" href="/css/destinations-styles.css")
        link(rel="stylesheet" href="/css/single-post-styles.css")
        link(rel="stylesheet" href="/css/about-styles.css")
    body
      header
        a(href="/")
          h2 Travel Blog
        div.menu-items
          ul 
            li 
              a(href="/") Home  
            li 
              a(href="/all-posts") All Posts 
            li
              a(href="/destinations") Destinations
                ul.dropdown
                  li 
                    a(href="/destinations") Africa 
                  li 
                    a(href="/destinations") Asia 
                  li 
                    a(href="/destinations") Europe 
                  li 
                    a(href="/destinations") North America 
                  li 
                    a(href="/destinations") Oceania 
                  li 
                    a(href="/destinations") South America  
            li 
              a(href="/categories") Categories
                ul.dropdown 
                  li
                    a(href="#") Adventure
                  li
                    a(href="#") City Breaks
                  li
                    a(href="#") Hike
                  li
                    a(href="#") Island Escape
            li
              a(href="/about") About 
            li
              a(href="/contact") Contact 
      block content