html 
    head    
        title Travel Blog
        div.header-oval
        link(rel="stylesheet" href="/css/styles.css")
    body
      header
        a(href="/")
          h2 The Remote Traveller
        div.menu-items
          ul 
            li 
              a(href="/") Home  
            li 
              a(href="/all-posts") All Posts 
            li
              a(href="/destinations") Destinations
            li 
              a(href="/categories") Categories
            li
              a(href="/about") About 
            li
              a(href="/contact") Contact 
      block content