html 
    head    
        title Travel Blog
        link(rel="stylesheet" href="./css/styles.css")
    body
      header
        a(href="/")
          h2 TRAVEL BLOG
        div.menu-items
          a(href="/") Home  
          a(href="/destinations") Destinations  
          a(href="/categories") Categories
          a(href="/about-us") About 
          a(href="/contact-us") Contact 
      block content