html 
    head    
        title Travel Blog
        link(rel="stylesheet" href="./css/home-styles.css")
        link(rel="stylesheet" href="./css/categories-styles.css")
        link(rel="stylesheet" href="./css/contact-styles.css")
        link(rel="stylesheet" href="./css/destinations-styles.css")
        link(rel="stylesheet" href="./css/single-post-styles.css")
        link(rel="stylesheet" href="./css/about-styles.css")
    body
      header
        a(href="/")
          h2 TRAVEL BLOG
        div.menu-items
          a(href="/") Home  
          a(href="/destinations") Destinations  
          a(href="/categories") Categories
          a(href="/about") About 
          a(href="/contact") Contact 
      block content