.centered-header {
    text-align: center;
}

.text-center {
    text-align: center;
}
.about-us-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15rem;
    padding-right: 15rem;
}
.about-us-div img{
    width: 550px;
}

.textbox {
    font-size: 18px;
    padding-right: 5rem;
}

.rounded-button {
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 20px; 
    clear: left;
    display: block;
    background-color: #000000;
    color: #FFFFFF;
}
  