include components/header
block content
    div.about-container
        h1.centered-header About Us 
        h2.text-center Learn more about who we are
        .textbox 
            p We believe that the world is meant to be explored, one adventure at a time. Founded by passionate globetrotters with a shared love for discovering new cultures, cuisines, and landscapes, our blog is a testament to our endless pursuit of the extraordinary. 
            p Through vivid narratives, captivating photographs, and insightful travel tips, we aim to inspire and empower fellow explorers to embark on their own transformative journeys. 
            p We have a dedicated team who work tirelessly to bring you that most amazing content. Every week we post brand new blogs so that you can from the comfront of your own home explore various countries and cities and even plan your next trip! .
            p Whether you're dreaming of scaling majestic peaks, wandering through bustling markets, or unwinding on sun-kissed shores, we're here to guide you every step of the way.
        button(type="button" class="rounded-button") Contact Us
        img(src="https://img.freepik.com/free-vector/vector-line-art-illustration-business-team_1441-188.jpg?w=1480&t=st=1710701611~exp=1710702211~hmac=0d092637125c0a5a242c39391f60391c99e10321f91b76209f595c21c4e5a652", alt="Picture of the team")
include components/footer