include components/header
block content
    
div.home-3rd-section
            h1 All Blog Posts
            p If you don’t see these blogs, you won’t become the superhero you were meant to be.
            
            div.home-blog-posts-container
                each row in results
                    div.home-blog-post
                        a(href='single-post/'+row.post_id) #{row.title}
                        p #{row.content}
            
include components/footer