include components/header
block content
    
div.home-3rd-section
    h1 Categories Page
    p Posts related to this category will be shown here
    
    div.home-blog-posts-container
        each category in categories
            div.home-blog-post
                a(href=`/categories/${category.category_id}`) #{category.name}
                // Add additional content related to categories here if needed
            
include components/footer
