include components/header
block content
    
div.home-3rd-section
    h1 Destinations Page
    
    div.home-blog-posts-container
        each destination in destinations
            div.home-blog-post
                a(href='/destination-posts/'+destination.destination_id) #{destination.name}
                // Add additional content related to categories here if needed
            
include components/footer
