include components/header
block content
    div.container
        div.home-hero-section
            h1.hero-heading Travel Blog
            p.hero.description A sub heading goes here and is used as a tagline. 
            a(href="/all-posts/").btn Explore All Blogs
        div.home-2nd-section
            h2.hero-heading Explore
            div.des-cats-container
                div.cats-div
                    h3 By Categories
                    img(src="/img/categories.jpg", alt="")
                div.des-div
                    h3 By Destinations
                    img(src="/img/destinations.jpg", alt="")
        div.home-3rd-section
            h2 Latest Blog Posts
            p If you don’t see these blogs, you won’t become the superhero you were meant to be.
            
            div.home-blog-posts-container
                each row in results
                    div.home-blog-post
                        a(href='single-post/'+row.post_id) #{row.title}
                        p #{row.content}...
        div.about-container
            h1.centered-header About Us 
            h2.text-center Learn more about who we are
            div.about-us-div
                div.textbox
                    p We believe that the world is meant to be explored, one adventure at a time. Founded by passionate globetrotters with a shared love for discovering new cultures, cuisines, and landscapes, our blog is a testament to our endless pursuit of the extraordinary. 
                    p Through vivid narratives, captivating photographs, and insightful travel tips, we aim to inspire and empower fellow explorers to embark on their own transformative journeys. 
                    p We have a dedicated team who work tirelessly to bring you that most amazing content. Every week we post brand new blogs so that you can from the comfront of your own home explore various countries and cities and even plan your next trip! .
                    p Whether you're dreaming of scaling majestic peaks, wandering through bustling markets, or unwinding on sun-kissed shores, we're here to guide you every step of the way.
                    button(type="button" class="rounded-button") Contact Us
                div
                    img(src="https://img.freepik.com/free-vector/vector-line-art-illustration-business-team_1441-188.jpg?w=1480&t=st=1710701611~exp=1710702211~hmac=0d092637125c0a5a242c39391f60391c99e10321f91b76209f595c21c4e5a652", alt="Picture of the team").about-imgs
            
        div.home-5th-section
            h2 Subscribe to our newsletter
            form(action="", class="subscription-form")
                input(type='email', name='email', id='subscription-email', placeholder="Email")
                input(type='submit', value='Subscribe', class="email-btn")
                    
include components/footer