include components/header
block content
    div.single-post-section
            h2 Blog Post Title Goes Here
            p The Great Blue Hole in Belize is probably one of the most famous travel photos ever. It’s also the biggest underwater sinkhole in the world, and it looks even more amazing if you see it in person! Touring the Blue Hole is one of the top ‘bucket list’ things to do in Central America. You can enjoy a scenic flight over the reef in a small plane or helicopter, and take photos of it from above, or hop on a boat and go scuba diving inside the sinkhole itself. I got a chance to fly over the Great Blue Hole in a little prop plane recently, and it was an amazing experience! We circled the Blue Hole several times at low altitude to see what it looks like up close, and then flew over some other sights in the Caribbean Sea. This travel blog will share my experience with the Blue Hole Belize flight, which tour company to use, flight costs and safety thoughts, and everything else you need to know before you go. Then, I’ll share some fun facts about this natural wonder in the Caribbean!
                    
include components/footer